.shadow-lg{
    background-color: #4D2C5E;
    bottom: 28px;
    
}

.pic-set{
    top: -290px;
    right: -10px;
}
.middle-imgg{
    right: 50px;
}

.font-size-5{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    
}
.mArginn{
    margin-top: -20px;
}
 
 